<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>JNotes</title>

	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<h1>JNOTES</h1>
		<div id="id_button">
			<form action="/loginpage" method="GET">
				<input type="submit" value="{{id0}}">
			</form>
		</div>
	</header>


	<section class='main0'>
		<aside id="list0">
			<ul class="listnaslovi">
				{{#each data}}
				<li class="naslovlista">
					<form action="/posodobi/odpri" method="post">
						<input class="list0class" type="submit" name="chosenbutton" value="{{this.naslov}}">
						<input type="hidden" name="id" value="{{this.id}}">
						<input type="image" class="delico" src="/images/deleteicon.png" border="0" alt="Submit" name="chosenbutton"/>
					</form>
					
				</li>
				{{/each}}
			</ul>
		</aside>



		<article id="note0">

			<div id="naslovvrstica" class="clearfix">
				<form action="/posodobi/shrani" method="POST" class="vnosforma">
					<h2>Naslov:</h2>
					<input id="naslovvnos" type="text" name="naslov" value="{{naslovpolje}}">
					<h2>Vsebina:</h2>
					<textarea id="vsebinavnos" name="vsebina">{{tekstpolje}}</textarea>
					<button id="shrani" type="submit">SHRANI</button>
				</form>

			</div>


		</article>
	</section>

	<form action="/posodobi/newnote" method="get">
		
		<button type="submit" id="newnotebutton">
			<div id="newnote"><img src="/images/newnoteicon.png" alt="NEW"> </div>
		</button>

	</form>


	<script type="text/javascript" src="/jscript/loginbutton.js"></script>
</body>

</html>